/// Copyright (c) 2015-present, salesforce.com, inc. All rights reserved 
/// Licensed under BSD 3-Clause - see LICENSE.txt or git.io/sfdc-license

namespace Salesforce.DesignSystem
{
    public class SLDSIconConstants
    {
        {% for type, iconSet in icons %}
        /// <summary>
        /// List of {{type | capitalize}} icons in SalesforceDesignSystemIcons.ttf
        /// </summary>
        public class SLDSIcon{{type | capitalize}}
        { {% for icon in iconSet %}
            public const string {{icon.name}} = "\u{{icon.unicode}}";{% endfor %}
        } 
        {% endfor %}
    }
}     