<!-- Copyright (c) 2015-present, salesforce.com, inc. All rights reserved -->
<!-- Licensed under BSD 3-Clause - see LICENSE.txt or git.io/sfdc-license -->

<ResourceDictionary xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation" 
                    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml">
{% for categoryName, category in data %}<!-- {{categoryName}} -->
	{% for color in category %} <SolidColorBrush x:Key="SLDS_{{color.name}}_BRUSH" Color="{StaticResource SLDS_{{color.name}}}" />
	{% endfor %}
{% endfor %}
</ResourceDictionary>